<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-color: black;
      }
      .rotate_image {
        animation: rotation 8s infinite linear;
      }

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

      h1 {
        color: green;
      }
      form {
        color: white;
      }
      .form{
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <center>
      <img class="rotate_image" src="\static\basketball.png" alt="Basketball Image" />
    </center>

    <center>
    <h1>Uploads</h1>
    </center>
    <center class = "form">
    <form method="POST" enctype="multipart/form-data">
      {{form.hidden_tag()}} {{form.file()}} <br />
      {{form.address.label}}
      {{form.address}}
      <br/>
      {{form.submit()}}
    </center>
    </form>
  <br>
    <center>
    <a href="/insert"> Insert Stats</a>
  </center>
  </body>
</html>
